{% extends 'market/base.html' %}

{% block title %} Add Property for Listing {% endblock %}

{%block content %}

<div>
    <h1>Add Property for Listing</h1>
    <hr>
    <form method="post" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <div class="form-group m-3">
            <label>Upload image</label>
            <input required name="images" type="file" multiple class="form-control-file">
        </div>
        <button type="submit" class="btn btn-success" >
            {% if edit_mode %}Save Edits{% else %}Add Property{% endif %}
        </button>
    </form>
    <hr>
</div>

{% endblock %}
