{% extends 'market/base.html' %}

{% block title %} Contact {{ profile.first_name}} | Real Estate {% endblock %}

{% block content %}

<main>
    <h1>Contact {{profile.first_name}}</h1>
    <hr/>
    <form method="post" class="card col-md-9 form-flex p-4">
        <div class="form-group">
            <label for="{{ form.sender_name.id_for_label }}">{{form.sender_name.label}}</label>
            <input name="{{ form.sender_name.name}}" type="text" class="form-control" id="{{ form.sender_name.id_for_label }}"/>
        </div>
        <div class="form-group">
            <label for="{{ form.sender_email.id_for_label }}">{{form.sender_email.label}}</label>
            <input name="{{ form.sender_email.name}}" type="email" class="form-control" id="{{ form.sender_email.id_for_label }}"/>
        </div>
        <div class="form-group">
            <label for="{{ form.sender_number.id_for_label }}">{{form.sender_number.label}}</label>
            <input name="{{ form.sender_number.name}}" type="text" class="form-control" id="{{ form.sender_number.id_for_label }}"/>
        </div>
        <div class="form-group">
            <label for="{{ form.message_text.id_for_label }}">{{form.message_text.label}}</label>
            <textarea name="{{ form.message_text.name}}" class="form-control" id="{{ form.message_text.id_for_label }}" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label class="mb-2">Select a listing reference (optional):</label>
            <select name="selected_listing" class="form-control">
                <option value='none'>I do not want to give listing reference</option>
                {% for listing in listings %}
                <option value='{{listing.id}}'>{{listing}}</option>
                {% endfor %}
            </select>
        </div>
        {% csrf_token %}
        <input role="button" type="submit" class="btn btn-success no-stretch" value="Send Message">
    </form>
    <hr/>
</main>

{% endblock %}