{% extends 'market/base.html' %}

{% block title %} Login {% endblock %}

{%block content %}

<div>
    <h1>Login</h1>
    <hr>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary" >Log In</button>
    </form>
    <hr>
    {% comment %} <p>
        Forgot Password?<a href="{% url 'password_reset' %}">Reset It</a>
    </p> {% endcomment %}
    <p>
        Do not have an account?  <a href="{% url 'users:register' %}">Register</a>
    </p>
</div>

{% endblock %}
