{% extends 'market/base.html' %}

{% block title %} {% if is_owner %} My {% else %} {{profile.user}}'s {% endif %} Profile | Real Estate {% endblock %}

{% block content %}

<main>
  <div class="container py-2">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{% if profile.profile_pic %}{{ profile.profile_pic.url }}{% else %}https://static.vecteezy.com/system/resources/previews/014/554/760/original/man-profile-negative-photo-anonymous-silhouette-human-head-businessman-worker-support-illustration-vector.jpg{% endif %}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{ profile.user }}</h5>
            <div class="d-flex justify-content-center mb-2">
              {% if is_owner %}
                <a type="button" class="btn btn-primary" href="{% url 'users:edit_profile' %}">Edit Profile</a>
                <a type="button" class="btn btn-danger ms-1" href="{% url 'users:delete_confirmation' %}">Delete Profile</a>
              {% else %}
                <button type="button" class="btn btn-outline-primary">Contact</button>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
              <h5>Description</h5>
              <hr>
              <p>
                {% if profile.description %}
                  {{ profile.description }}  
                {% else %}
                  <small class="text-muted">No Description</small>
                {% endif %}
              </p>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{% if profile.first_name or profile.last_name %}{{ profile.first_name }} {{ profile.last_name }}{% else %} - {% endif %}
                  </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{% if c_user.email %}{{ c_user.email }}{% else %} - {% endif %}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{% if profile.contact_number %}{{ profile.contact_number }}{% else %} - {% endif %}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">City</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{% if profile.city %}{{ profile.city }}{% else %} - {% endif %}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <div style="display: flex; justify-content: space-between;">
              {% if is_owner %}
                <h4>My Listings:</h4>
                <a href="{% url 'users:my_listings' %}" style="padding-right: 15px;">View Listings</a>
              {% else %}
                <h4>{% if profile.first_name %}{{profile.first_name}}{% endif %}'s  Listings:</h4>
                <a href="{% url 'users:my_listings' %}" style="padding-right: 15px;">View Listings</a>
              {% endif %}
            </div>
            <hr class="mb-4">
              {% for listing in listings  %}
                <div class="card mb-3" style="max-width: 900px;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="{% if listing.property_pics.first.file %}{{ listing.property_pics.first.file.url }}{% else %}https://static.vecteezy.com/system/resources/previews/014/554/760/original/man-profile-negative-photo-anonymous-silhouette-human-head-businessman-worker-support-illustration-vector.jpg{% endif %}"  class="card-img img-fluid" style="object-fit: cover; height: 100%; max-height: 200px;" alt="">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <a href="{% url 'market:listing_data' listing.id %}" ><h5 class="card-title" style="text-decoration: none;">{{ listing.title }}</h5></a>
                        <p class="card-text">{{ listing.location }}</p>
                        <p class="card-text">Asking Price: <span class="text-muted">PKR. {{ listing.price }}</span></p>
                        <p class="card-text">Size: <span class="text-muted">{{ listing.size }} {{ listing.size_unit }}</span></p>
                        <div ><small class="text-muted">Added on: {{ listing.added_at }}</small></div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}