<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="nav-title no-underline" href="{% url 'market:listing' %}">Real Estate</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'market:listing' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'market:buy' %}">Buy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'market:rent' %}">Rent</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'social:inbox' %}">Inbox</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ user }}
              </a>
              <ul class="dropdown-menu is-right">
                <li><a class="dropdown-item" href="{% url 'users:profile' %}">Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'users:my_listings' %}">Your listings</a></li>
                <li><a class="dropdown-item" style="color: red;" href="{% url 'users:logout' %}">Logout</a></li>
              </ul>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:login' %}">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>