{% extends 'market/base.html' %}

{% block title %} {{ title }} | Marketplace{% endblock %}




{% block content %}
<style>
  .slider {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: relative;
    overflow: hidden; /* <===  */
    border-radius: 6px;
  }

  .slide {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: absolute;
    transition: all 0.5s;
  }

  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slider-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
  }
  .slider-btn:active {
    transform: scale(1.1);
  }
  .btn-prev {
    top: 45%;
    left: 2%;
  }

  .btn-next {
    top: 45%;
    right: 2%;
  }


</style>
  <section class="container mt-5">
    <div class="row">
      <div>
        <div class="card mb-3" style="max-width: 900px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <div class="slider">
                {% if listing.property_pics.all.count > 1 %}
                    {% for image in listing.property_pics.all %}
                      <div class="slide">
                        <img src="{{ image.file.url }}" alt=""  />
                      </div>
                    {% endfor %}

                    <button class="slider-btn btn-next"> > </button>
                    <button class="slider-btn btn-prev"> < </button>
                {% else %}
                      <div class="slide">
                        <img src="{{ listing.property_pics.first.file.url }}" alt=""  />
                      </div>
                {% endif %}
                  
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text">{{ listing.location }}</p>
                <p class="card-text">Asking Price: <span class="text-muted">PKR. {{ listing.price }}</span></p>
                <p class="card-text">Size: <span class="text-muted">{{ listing.size }} {{ listing.size_unit }}</span></p>
                <div ><small class="text-muted">Added on: {{ listing.added_at }}</small></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    {% if isOwner %}
      <a href="{% url 'users:edit_listing' listing.id %}" class="btn btn-warning">Edit Property</a>
      <button data-bs-toggle="modal" data-bs-target="#DeleteModal" class="btn btn-danger" >Delete Property</button>
      <!-- modal -->
      <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="DeleteModalLabel">Delete Listing</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete this listing?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
              <a href="{% url 'users:delete_listing' listing.id %}" type="button" class="btn btn-danger">Yes, Delete</a>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <a href="{% url 'market:listing_contact' listing.id %}" class="btn btn-success">{{ type }} Property</a>
    {% endif %}
    <div style="margin-top:20px;">
      <h2 class="underlined-heading">Owner's Profile:</h2>
      <div class="card">
        <div class="card-body">
          <div class="row no-gutters">
            <div class="col-md-3 owner-p-pic">
              <div>
                <img src="{% if listing.owner.profile_pic %}{{ listing.owner.profile_pic.url }}{% else %}https://static.vecteezy.com/system/resources/previews/014/554/760/original/man-profile-negative-photo-anonymous-silhouette-human-head-businessman-worker-support-illustration-vector.jpg{% endif %}" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              </div>
            </div>
            <div class="col-md-9 owner-p-desc">
              <h4>{{listing.owner.profile.first_name}} {{listing.owner.profile.last_name}}</h4>
              <hr />
              <a class="btn btn-primary" role="button" href="{% url 'users:other_profile' listing.owner.profile.id %}">
                View Profile
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </section>
  <script>
    "use strict";
    // Select all slides
    const slides = document.querySelectorAll(".slide");

    // loop through slides and set each slides translateX
    slides.forEach((slide, indx) => {
      slide.style.transform = `translateX(${indx * 100}%)`;
    });

    // select next slide button
    const nextSlide = document.querySelector(".btn-next");

    // current slide counter
    let curSlide = 0;
    // maximum number of slides
    let maxSlide = slides.length - 1;

    // add event listener and navigation functionality
    nextSlide.addEventListener("click", function () {
      // check if current slide is the last and reset current slide
      if (curSlide === maxSlide) {
        curSlide = 0;
      } else {
        curSlide++;
      }

      //   move slide by -100%
      slides.forEach((slide, indx) => {
        slide.style.transform = `translateX(${100 * (indx - curSlide)}%)`;
      });
    });

    // select next slide button
    const prevSlide = document.querySelector(".btn-prev");

    // add event listener and navigation functionality
    prevSlide.addEventListener("click", function () {
      // check if current slide is the first and reset current slide to last
      if (curSlide === 0) {
        curSlide = maxSlide;
      } else {
        curSlide--;
      }

      //   move slide by 100%
      slides.forEach((slide, indx) => {
        slide.style.transform = `translateX(${100 * (indx - curSlide)}%)`;
      });
    });

  </script>
{% endblock %}
