{% extends 'market/base.html' %}
{% load static %}

{% block title %} Inbox - Rehaaish.com{% endblock %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/messages.css' %}">
    <style>
        .msg_history span{
            font-weight: 400;
            color: rgb(87, 87, 87);
        }
    </style>
{% endblock %}

{% block content %}

<main>
    <div class="container">
        <h3 class=" text-center">Inbox - {% if is_sent %}Sent{% else %}Received{% endif %}
        </h3>
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="headind_srch">
                        <div class="recent_heading">
                            <h4>Recent</h4>
                            {% if is_sent %}
                                <a href="{% url 'social:inbox' %}">Received</a>
                            {% else %}
                                <a href="{% url 'social:inbox_sent_redirect' %}">Sent</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="inbox_chat">
                        {% for msg in msgs  %}
                            {% if is_sent %}    
                                <a href="{% url 'social:inbox_sent' msg.id %}">
                            {% else %}
                                <a href="{% url 'social:inbox_received' msg.id %}">
                            {% endif %}
                                    <div class="chat_list {% if msg.id == msg_data.id %}active_chat{% endif %}">
                                        <div class="chat_people">
                                            <div class="chat_img" style="border-radius: 50%;
                                            overflow: hidden;"> <img src="{% if msg.sender.profile.profile_pic %}{{ msg.sender.profile.profile_pic.url }}{% else %}https://static.vecteezy.com/system/resources/previews/014/554/760/original/man-profile-negative-photo-anonymous-silhouette-human-head-businessman-worker-support-illustration-vector.jpg{% endif %}" alt="sunil"> </div>
                                            <div class="chat_ib">
                                                <h5>{{ msg.sender_name }}<span class="chat_date">{{msg.sent_at}}</span></h5>
                                                <p>{{ msg.message_text|slice:":40"|default:'' }}{% if msg.message_text|length > 40 %}...{% endif %}</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="mesgs">
                    <div class="msg_history">
                        {% if msg_data %}
                            {% if msg_data.property %}
                                <a href="{% url 'market:listing_data' msg_data.property.id %}">
                                    <h4 style="text-decoration: underline;">{{ msg_data.property }}</h4>
                                </a>
                            {% else %}
                                <h4 style="text-decoration: underline;">Direct Message</h4>    
                            {% endif %}
                            {% if is_sent %}
                                <h5>Receiver : 
                                    <span>{% if msg_data.receiver.profile.first_name %}{{msg_data.receiver.profile.first_name}}{% else %}{{msg_data.receiver}}{% endif %}</span>
                                </h5>
                            {% endif %}
                            <h5>Sender : <span>{{msg_data.sender_name}}</span></h5>
                            <h5>Sender Email : <span>{{msg_data.sender_email}}</span></h5>
                            <h5>Sender Number : <span>{{msg_data.sender_number}}</span></h5>
                            <h5>Message : <span>{{msg_data.message_text}}</span> </h5>
                            {% if not is_sent %}
                                <a class="btn btn-primary" href="{% url 'users:contact_profile' msg_data.sender.profile.id %}">Reply</a>
                            {% endif %}
                        {% elif none_sent %}                            
                            <h4>{{ none_sent_text }} <a href="{% url 'market:listing' %}">View Listings</a></h3>
                        {% else %}
                            {% if msgs.count > 0 %}
                                <h4>Tap on any conversation to view it.</h3>
                            {% else %}    
                                <h4>No messages received.</h3>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}